#bookmark-container{
  #o-bookmark-overlay-icon {
    width: 36px;
    height:48px;
    line-height: 28px;
    margin-top: 0;
    cursor: pointer;
//    background: transparent;
    padding:0;
    //  padding: 0 7px;
    //  text-shadow: none;
    //  color: #fff;
    //  outline: none;
    border: 1px solid #ddd;
    &:hover {
      color: #999;
    }
    &:focus {
      color: #999;
      border: 1px dotted #999;
      border-radius: 0;
    }
  }
  .o-bookmarked{
    background: #ddd url(./images/bookmarkIcon.png) no-repeat;
//    background-color: #ddd;
  }
  .o-not-bookmarked{
    background: #fff url(./images/bookmarkIcon.png) no-repeat;
//    background-color: #fff;
  }

}

